{% extends '../base.html'%}

{% block content %}
<header>
    {% include '../navbar.html'%}
</header>
{% include './components/splash.html' %}

<div class="container pt-4">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% include './components/list_elements.html' %}
        </div>
        <div class="d-none d-lg-block col-4">
            <h4 class="pb-2 fw-bold fs-14">DISCOVER MORE OF WHAT MATTERS TO YOU</h4>
            {% sidebar_tags %}
            {% include '../partials/_footer.html' %}
        </div>
    </div>
</div>
{% endblock%}